<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Weather app</title>
</head>
<body>
    <div class="container">
        <form action="/weatherReport" method="POST">
            <div>
                <label for="city">Enter the city Name</label>
                <input type="text" name="city" id="city">
            </div>
            <div>
                <input type="submit" value="check the weather">
            </div>
        </form>
    </div>
    {% if weather %}
    <div class="results">
        <h2>Weather report of {{city}}</h2>
        <p>Day: {{cur_day[0]}}</p>
        <p>High: {{cur_day[1]}} *C</p>
        <p>Low: {{ cur_day[2]}} *C</p>
        <p>Type: {{cur_day[3]}}</p>

        <h2>Tomorrow's Weather Prediction</h2>
        <p>Day  : {{next_day[3]}}</p>
        <p>High : {{next_day[0]}} *C</p>
        <p>Low : {{next_day[1]}} *C</p>
        <p>Type : {{next_day[2]}}</p>
    </div>
    {%else%}
    <p>{{error}}</p>
    {% endif %}
    
</body>
</html>